/* Reset and normalization code */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Container visisiblity */
    /* border: 1px solid red; */
}

:root {
    font-size: 16px;
    line-height: 1.6;

    --container-color: rgb(30, 29, 29);
    --border-color: rgb(102, 102, 102);
    --border-settings: 2px solid var(--border-color);
    --hover-color: rgb(14, 101, 232);

    --universal-padding: 25px;
}

html {
    background-color: black;
    color: white;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

div,
aside {
    background-color: var(--container-color);
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

/* body grid layout */
body {
    display: grid;
    grid-template-columns: 200px 4fr;
    grid-template-rows: min(1fr, 80px) 4fr 4fr;
    grid-template-areas: 
        "logo header"
        "sidebar numbers"
        "sidebar users";
    > * {
        padding: var(--universal-padding);
    }
}

header {
    grid-area: header;
    border-bottom: var(--border-settings);
}

.logo-container {
    grid-area: logo;
    border-bottom: var(--border-settings);
    border-right: var(--border-settings);
}
.sidebar {
    grid-area: sidebar;
}

.number .data-container {
    grid-area: numbers;
}

.users .data-container {
    grid-area: users;
}

/* Container layout styling */

/* ----Side bar and logo styling---- */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;

    padding-left: 25px;
    padding-top: 25px;

    border-right: var(--border-settings);
}

.sidebar nav ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    & li {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

/* Pseudoclass icons and hover effects */
.icon {
    width: 1.2em;
    height: 1.2em;
    background-color: white;

    &.dashboard {
        mask: url(./svgs/icons/dashboard-icon.svg) no-repeat center;
        mask-size: contain;
    }
    
    &.users {
        mask: url(./svgs/icons/user-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.analytics {
        mask: url(./svgs/icons/analytics-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.projects {
        mask: url(./svgs/icons/projects-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.messages {
        mask: url(./svgs/icons/messages-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.settings {
        mask: url(./svgs/icons/settings-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.privacy {
        mask: url(./svgs/icons/privacy-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.support {
        mask: url(./svgs/icons/support-icon.svg) no-repeat center;
        mask-size: contain;
    }
}

/* Transition time when unfocused */
li, .icon, a{
    transition: 0.2s;
}

/* Creates a visual line beside the selected element */
.sidebar li:hover {
    border-left: 2px solid var(--hover-color);
    background-color: rgb(48, 47, 47);
    transition: 0.2s;
    padding-left: 10px;

    >.icon {
        background-color: var(--hover-color);
    }
    >a {
        color: var(--hover-color);
    }
}

/* -----End of Sidebar styling----- */

/* ---- Header styling and positioning ---- */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;

    > button {
        background-color: rgb(102, 0, 255);
        color: white;
    }
}