/* Reset and normalization code */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Container visisiblity */
    /* border: 1px solid red; */
}

:root {
    font-size: 16px;
    line-height: 1.6;

    --container-color: rgb(30, 29, 29);
    --border-color: rgb(102, 102, 102);
}

html {
    background-color: black;
    color: white;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

div,
aside {
    background-color: var(--container-color);
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* body grid layout */
body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: min(1fr, 80px) 4fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar numbers"
        "sidebar users";
}

header {
    grid-area: header;
    border-bottom: 1px solid var(--border-color);
}

.sidebar {
    grid-area: sidebar;
}

.number .data-container {
    grid-area: numbers;
}

.users .data-container {
    grid-area: users;
}

/* Container layout styling */

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    text-align: center;
    border-right: 1px solid var(--border-color);
}

.sidebar nav ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items:flex-start;
    justify-self: center;
    min-width: 75%;

    & li {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.icon {
    width: 1.2em;
    height: 1.2em;
    background-color: white;

    &.dashboard {
        mask: url(./svgs/icons/dashboard-icon.svg) no-repeat center;
        mask-size: contain;
    }
    
    &.users {
        mask: url(./svgs/icons/user-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.analytics {
        mask: url(./svgs/icons/analytics-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.projects {
        mask: url(./svgs/icons/projects-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.messages {
        mask: url(./svgs/icons/messages-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.settings {
        mask: url(./svgs/icons/settings-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.privacy {
        mask: url(./svgs/icons/privacy-icon.svg) no-repeat center;
        mask-size: contain;
    }

    &.support {
        mask: url(./svgs/icons/support-icon.svg) no-repeat center;
        mask-size: contain;
    }
}